<%= simple_form_for quote,
  html: { id: dom_id(quote) },
  data: { controller: "form", action: "turbo:submit-end->form#reset" },
  class: "w-full" do |f| %>

  <div class="flex w-full">
      <%= f.input :name, required: true, label: false, placeholder: "* Quote name", input_html: {class: "flex-[1-1-0] w-full rounded min-w-full"} %>

      <%= f.submit "Save", class: "w-30 cursor-pointer rounded bg-green text-white p-2 ml-2" %>

    <% if quote.persisted? %>
      <%= link_to "Cancel", quotes_path, class: "w-30 rounded bg-gray p-2 ml-2" %>
    <% end %>
  </div>


<% end %>