<%= turbo_frame_tag dom_id(quote) , class: "mt-5 flex justify-between w-full border rounded p-2 bg-blue" do %>
  <%= link_to quote.name, quote_path(quote), "data-turbo-frame": "_top", class: "cursor-pointer" %>
  <div class="flex">
    <%= link_to "edit", edit_quote_path(quote), class: "mx-2 pt-1 text-sm text-green" %>
    <%= button_to "remove", quote_path(quote), method: :delete, class: "mx-2 text-sm text-red" %>
  </div>
<% end %>