<div id="total_prices" class="font-bold w-1/3 my-7 border rounded p-5 bg-white">
  <div class="flex justify-between">
    <p>Total excl tax :</p>
    <p><%= humanized_money_with_symbol quote.pre_tax_total_price %></p>
  </div>
  <div class="flex justify-between mt-5">
    <p>Total VAT :</p>
    <p><%= humanized_money_with_symbol quote.total_tax %></p>
  </div>
  <div class="flex justify-between mt-5">
    <p>Total incl tax :</p>
    <p><%= humanized_money_with_symbol quote.total_price %></p>
  </div>
</div>