<h1 class="font-bold text-3xl text-center mb-7">Quotes</h1>

<%= turbo_frame_tag "quote_form", class: "mt-5" do %>
  <%= render "quotes/form", quote: @quote %>
<% end %>

<div id="quotes" class="flex flex-col mt-5">
  <%= render @quotes %>
</div>
