<div>
  <h1 class="text-2xl font-bold text-center my-5"><%= @quote.name %></h1>
  <div class="bg-white p-5 rounded">

    <div class="flex grid grid-cols-7 grid-rows-1 font-bold">
      <div class="col-start-1 col-end-auto text-left">Product and description</div>
      <div class="text-right col-start-2 col-end-auto pr-5">Quantity</div>
      <div class="text-right col-start-3 col-end-auto pr-5">Unit price</div>
      <div class="text-right col-start-4 col-end-auto pr-5">Total excl tax</div>
      <div class="text-right col-start-5 col-end-auto">Total incl tax</div>
    </div>
    <div id="items" class="mb-5">
      <%= render @quote.items, quote: @quote %>
    </div>

    <%= render "items/new_item_link", quote: @quote %>
  </div>

  <%= render "quotes/total_prices", quote: @quote %>

  <%= link_to "Back to quotes", quotes_path, class: "bg-green text-white rounded p-2" %>

</div>