<%= simple_form_for [ quote, item ],
  html: { id: dom_id(item) },
  data: { controller: "form", action: "turbo:submit-end->form#reset" } do |f| %>

  <div>
    <%= f.input :name, required: true, label: false, placeholder: "* Name", input_html: {class: "rounded min-w-full mt-5"} %>
    <%= f.input :description, required: false, label: false, placeholder: "Description", input_html: {class: "rounded min-w-full mt-5"} %>
    <%= f.input :quantity, required: true, label: false, placeholder: "* Quantity", input_html: {class: "rounded min-w-full mt-5"} %>
    <%= f.input :pre_tax_unit_price, required: true, label: false, placeholder: "* Pre tax unit price", input_html: {class: "rounded min-w-full mt-5"} %>
    <div class="flex justify-between mt-2">
      <%= f.submit "Save", class: "cursor-pointer rounded bg-green text-white mt-5 p-2 ml-2" %>
      <%= link_to "Cancel", quote_path(quote), class: "rounded bg-gray mt-5 p-2" %>
    </div>
  </div>
<% end %>