<%= turbo_frame_tag dom_id(item) do %>
  <div class="flex grid grid-cols-7 grid-rows-1  mt-2 p-2 rounded">
    <div class="col-start-1 col-end-auto">
      <h2 class="bold text-lg"><%= item.name %></h2>
      <p class="text-sm"><%= item.description %></p>
    </div>
    <div class="col-start-2 col-end-auto text-right pr-5"><%= item.quantity %></div>
    <div class="col-start-3 col-end-auto text-right  pr-5"><%= humanized_money_with_symbol item.pre_tax_unit_price %></div>
    <div class="col-start-4 col-end-auto text-right  pr-5"><%= humanized_money_with_symbol item.pre_tax_total_price %></div>
    <div class="col-start-5 col-end-auto text-right"><%= humanized_money_with_symbol item.total_price %></div>
    <div class="col-start-6 col-end-auto text-center">
      <%= link_to "edit", edit_quote_item_path(quote, item), class: "mx-2 pt-1 text-sm text-green" %>
    </div>
    <div class="col-start-7 col-end-auto">
      <%= button_to "remove", quote_item_path(quote, item), method: :delete, class: "mx-2 text-sm text-red" %>
    </div>
  </div>
<% end %>