<%= turbo_stream.append "items"  do %>
  <%= render @item, quote: @quote %>
<% end %>

<%= turbo_stream.replace "item_form"  do %>
  <%= render "items/new_item_link", quote: @quote %>
<% end %>

<%= turbo_stream.replace "total_prices"  do %>
  <%= render "quotes/total_prices", quote: @quote %>
<% end %>