@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

/* @layer components {
  .edit_quote {
    @apply w-full;
  }
} */



.grid-7-cols {
  grid-template-columns: 150px, repeat(6, minmax(0, 1fr));
}