<!DOCTYPE html>
<html>
  <head>
    <title>Quotes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container min-h-screen mx-auto mt-7 px-5 flex justify-center bg-gray pt-20">
      <div class="w-3/4 flex flex-col">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
